In [3]:

#Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time
import re
import requests as req
import os
from selenium import webdriver

In [4]:
#browser path
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)

browser = init_browser()

In [31]:

#mars news url
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

In [32]:
news_title = soup.find('div', class_='content_title').text
news_title

"NASA's Briefcase-Size MarCO Satellite Picks Up Honors"

In [33]:
news_p = soup.find_all('div', class_='article_teaser_body')[0].text
news_p

'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.'

In [34]:
#browser path

base_url='https://www.jpl.nasa.gov'
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
browser.find_by_id('full_image').click()
time.sleep(2)
browser.click_link_by_partial_text('more info')

In [35]:
html = browser.html
soup = bs(html, "html.parser")

In [36]:

image_src = soup.find('img',class_='main_image')['src']

featured_image_url = base_url+image_src
print (featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA00271_hires.jpg

In [37]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

mars_weather = soup.find(class_='js-tweet-text-container')

In [38]:
tweet = soup.find('p', {"class": "tweet-text"})
print (tweet)

<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 355 (2019-11-25) low -99.6ºC (-147.4ºF) high -23.2ºC (-9.7ºF)
winds from the SSE at 5.4 m/s (12.2 mph) gusting to 19.8 m/s (44.2 mph)
pressure at 6.70 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/i0OVq2GJsM">pic.twitter.com/i0OVq2GJsM</a></p>

In [39]:
weather = tweet.text
weather

'InSight sol 355 (2019-11-25) low -99.6ºC (-147.4ºF) high -23.2ºC (-9.7ºF)\nwinds from the SSE at 5.4 m/s (12.2 mph) gusting to 19.8 m/s (44.2 mph)\npressure at 6.70 hPapic.twitter.com/i0OVq2GJsM'

In [40]:
list_tables = pd.read_html("https://space-facts.com/mars/")

In [41]:
len(list_tables)

3

In [42]:
mars_facts = list_tables[0]

In [43]:
mars_facts.columns = ["Name", "Measurements"]

In [44]:
mars_facts

                   Name                   Measurements
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [45]:
mars_facts_html = mars_facts.to_html()
mars_facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Name</th>\n      <th>Measurements</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [46]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [47]:
html = browser.html
soup = bs(html, "html.parser")

In [48]:

links = []
idklinks = soup.find_all('a', class_='itemLink product-item')
for x in range(len(idklinks)):
    link = 'https://astrogeology.usgs.gov' + idklinks[x]['href']
    if link not in links:
        links.append(link)
links

[]

In [49]:
hemisphere_image_urls = []
for x in range(len(links)):
    browser = Browser('chrome', headless=True)
    browser.visit(links[x])
    html = browser.html
    soup = bs(html, 'html.parser')
    browser.quit()
    url = 'https://astrogeology.usgs.gov' + soup.find("img", class_="wide-image")["src"]
    title = soup.find("h2", class_="title").text
    dic = {"title": title, "img_url": url}
    hemisphere_image_urls.append(dic)
hemisphere_image_urls

[]