### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
items = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(items)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [10]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

* Display the total number of players

In [11]:
players = purchase_data["SN"].nunique()
print(players)

576

In [279]:
u_items = purchase_data["Item ID"].nunique()
u_items

183

In [13]:
purchUnq = purchase_data.drop_duplicates("SN")
purchUnq.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
len(purchUnq)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
tot_pur = purchase_data['Item Name'].count()
print(tot_pur)

780

In [17]:
tot_rev = purchase_data['Price'].sum()
print(tot_rev)

2379.77

In [18]:
av_price = tot_rev / tot_pur
print(av_price)

3.0509871794871795

In [19]:
summary_df = pd.DataFrame({"Number of Unique Items": [u_items],
                           "Average Purchase Price": [av_price],
                           "Total Number of Purchases": [tot_pur],
                           "Total Revenue": [tot_rev]})
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [281]:
purchUnq['Gender'].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [282]:
gendercount =  purchUnq['Gender'].value_counts().values
genders =  purchUnq['Gender'].value_counts().index

In [24]:
total = gendercount.sum()
total

576

In [25]:
genderpercent = gendercount / total *100
genderpercent = [str(round(x,2)) + "%" for x in genderpercent]
genderpercent

['84.03%', '14.06%', '1.91%']

In [283]:
summary_df = pd.DataFrame({"Genders": genders,
                           "Total Count": gendercount,
                           "Percentage of Players": genderpercent})
summary_df

                 Genders  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
genders =  purchUnq['Gender'].value_counts().index
genders

Index(['Male', 'Female', 'Other / Non-Disclosed'], dtype='object')

In [28]:
gender_counts = purchase_data["Gender"].value_counts()
genCounts2 = gender_counts.values
genCounts2

array([652, 113,  15], dtype=int64)

In [29]:
gender_group = purchase_data.groupby(["Gender"])

gender_comparison = gender_group.mean()
genderPrice2 = gender_comparison.Price.values
genderPrice2

array([3.20300885, 3.01785276, 3.346     ])

In [30]:
gender_purchase = gender_group.sum()
genderTotalPrice = gender_purchase.Price.values
genderTotalPrice

array([ 361.94, 1967.64,   50.19])

In [31]:
genderCount2 = summary_df.sort_values("Genders")["Total Count"].values
genderCount2

array([ 81, 484,  11], dtype=int64)

In [33]:
avgGenderPerson = genderTotalPrice / genderCount2
avgGenderPerson

array([4.46839506, 4.0653719 , 4.56272727])

In [44]:
summary_df2 = pd.DataFrame({"Genders": genders,
                           "Purchase Count": genCounts2})

sortedDf2 = summary_df2.sort_values("Genders").reset_index(drop=True)

sortedDf2["Average Purchase Price"] = genderPrice2
sortedDf2["Average Purchase Price"] = sortedDf2["Average Purchase Price"].astype(float).map("${:,.2f}".format)

sortedDf2["Total Purchase Value"] = genderTotalPrice
sortedDf2["Total Purchase Value"] = sortedDf2["Total Purchase Value"].astype(float).map("${:,.2f}".format)

sortedDf2["Avg Total Purchase per Person"] = avgGenderPerson
sortedDf2["Avg Total Purchase per Person"] = sortedDf2["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

sortedDf2

,Genders,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [45]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 150]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [46]:
purchUnq["Age Demographics"] = pd.cut(purchUnq["Age"], bins, labels=group_names)
purchUnq.head()

C:\Users\12145\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [47]:
purchUnq["Age Demographics"].value_counts()

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age Demographics, dtype: int64

In [48]:
democount =  purchUnq["Age Demographics"].value_counts().values
demoss =  purchUnq["Age Demographics"].value_counts().index

In [49]:
total2 = democount.sum()
total2

576

In [50]:
demopercent = democount / total *100
demopercent = [str(round(x,2)) + "%" for x in demopercent]
demopercent

['44.79%', '18.58%', '13.37%', '9.03%', '5.38%', '3.82%', '2.95%', '2.08%']

In [147]:
summary_df3 = pd.DataFrame({"Age": demoss,
                           "Total Count": democount,
                           "Percentage of Players": demopercent})
summary_df3 = summary_df3.sort_values("Age").reset_index(drop=True)
summary_df3

     Age  Total Count Percentage of Players
0    <10           17                 2.95%
1  10-14           22                 3.82%
2  15-19          107                18.58%
3  20-24          258                44.79%
4  25-29           77                13.37%
5  30-34           52                 9.03%
6  35-39           31                 5.38%
7    40+           12                 2.08%

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [434]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 150]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [435]:
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [114]:
agerange = list(purchase_data['Age Demographics'].value_counts().index.values)
agerange

['20-24', '15-19', '25-29', '30-34', '35-39', '10-14', '<10', '40+']

In [55]:
age_count = purchase_data["Age Demographics"].value_counts()
age_count2 = age_count.values
age_count2

array([365, 136, 101,  73,  41,  28,  23,  13], dtype=int64)

In [56]:
age_group = purchase_data.groupby(["Age Demographics"])

age_comparison = age_group.mean()
ageprice2 = age_comparison.Price.values
ageprice2

array([3.35347826, 2.95642857, 3.03595588, 3.05221918, 2.9009901 ,
       2.93150685, 3.60170732, 2.94153846])

In [57]:
age_purchase = age_group.sum()
ageTotalPrice = age_purchase.Price.values
ageTotalPrice

array([  77.13,   82.78,  412.89, 1114.06,  293.  ,  214.  ,  147.67,
         38.24])

In [58]:
ageCount2 = summary_df3.sort_values("Age")["Tota Count"].values
ageCount2

array([ 17,  22, 107, 258,  77,  52,  31,  12], dtype=int64)

In [60]:
avgAgePerson = ageTotalPrice / ageCount2
avgAgePerson

array([4.53705882, 3.76272727, 3.85878505, 4.31806202, 3.80519481,
       4.11538462, 4.76354839, 3.18666667])

In [430]:
summary_df4 = pd.DataFrame({"Age": group_names,
                           "Purchase Count": age_count2})

sortedDf4 = summary_df4.sort_values("Age").reset_index(drop=True)

sortedDf4["Average Purchase Price"] = ageprice2
sortedDf4["Average Purchase Price"] = sortedDf4["Average Purchase Price"].astype(float).map("${:,.2f}".format)

sortedDf4["Total Purchase Value"] = ageTotalPrice
sortedDf4["Total Purchase Value"] = sortedDf4["Total Purchase Value"].astype(float).map("${:,.2f}".format)

sortedDf4["Avg Total Purchase per Person"] = avgAgePerson
sortedDf4["Avg Total Purchase per Person"] = sortedDf4["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

sortedDf4

,Age,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,10-14,136,$3.35,$77.13,$4.54
1,15-19,101,$2.96,$82.78,$3.76
2,20-24,73,$3.04,$412.89,$3.86
3,25-29,41,$3.05,"$1,114.06",$4.32
4,30-34,28,$2.90,$293.00,$3.81
5,35-39,23,$2.93,$214.00,$4.12
6,40+,13,$3.60,$147.67,$4.76
7,<10,365,$2.94,$38.24,$3.19

## Top Spenders

In [419]:
#define top spenders
spenders = purchase_data["SN"].value_counts()
spenders.head()

Lisosia93      5
Iral74         4
Idastidru52    4
Zontibe81      3
Raesty92       3
Name: SN, dtype: int64

In [424]:
spenders=pd.DataFrame(data=spenders)
spenders.columns = ["Purchase Count"]

In [427]:
spenders_group = purchase_data.groupby(["Price"])

spenders_comparison = gender_group.mean()
spendersPrice2 = spenders_comparison.Price.values
spendersPrice2

array([3.20300885, 3.01785276, 3.346     ])

In [426]:
spendersID = purchase_data["Item ID"].value_counts()
spendersID.head()

178    12
82      9
108     9
145     9
92      8
Name: Item ID, dtype: int64

In [428]:
# Total Spend


spenders["Average Purchase Price"] = round(purchase_data["Price"].groupby(purchase_data["SN"]).mean(),2)
spenders["Total Purchase Value"] = purchase_data["Price"].groupby(purchase_data["SN"]).sum()

PopularItemID_items = PopularItemID.sort_values(by="Total Purchase Value", ascending=False)


spenders["Average Purchase Price"] = spenders["Average Purchase Price"].map("${:,.2f}".format)
spenders["Total Purchase Value"] = spenders["Total Purchase Value"].map("${:,.2f}".format)

spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Zontibe81                 3                  $2.68                $8.03
Raesty92                  3                  $2.91                $8.73

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [358]:
#set index back to 0
PopularItemID =  purchase_data.groupby(["Item ID", "Item Name", "Price"])["Price"].agg(["count", "sum"])

PopularItemID.columns = ["Purchase Count", "Total Purchase Value"]
PopularItemID.head()

                                  Purchase Count  Total Purchase Value
Item ID Item Name          Price
0       Splinter           1.28                4                  5.12
1       Crucifer           3.26                3                  9.78
2       Verdict            2.48                6                 14.88
3       Phantomlight       2.49                6                 14.94
4       Bloodlord's Fetish 1.70                5                  8.50

In [366]:
#Sort Purchase COlumn
PopularItemID.reset_index(inplace=True)
PopularItemID.set_index(["Item ID", "Item Name"], inplace=True)
PopularItemID.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [386]:
#Summary Table

PopularItemID = PopularItemID[["Purchase Count", "Price", "Total Purchase Value"]]


PopularItemID_items = PopularItemID.sort_values(by="Purchase Count", ascending=False)



PopularItemID_items["Price"] = PopularItemID_items["Price"].map("${:,.2f}".format)
PopularItemID_items["Total Purchase Value"] = PopularItemID_items["Total Purchase Value"].map("${:,.2f}".format)

PopularItemID_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
60,Wolf,8,$3.54,$28.32

In [382]:
######MOST PORFITABLE ITEMS########

In [387]:
M_Profit_item = PopularItemID.sort_values(by= "Total Purchase Value", ascending=False)

In [388]:
M_Profit_item["Price"] = M_Profit_item["Price"].map("${:,.2f}".format)
M_Profit_item["Total Purchase Value"] = M_Profit_item["Total Purchase Value"].map("${:,.2f}".format)

M_Profit_item.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80