In [1]:
import pandas as pd

In [4]:
path = "budget_data.csv"

In [5]:
budget = pd.read_csv(path)

In [6]:
budget.head

<bound method NDFrame.head of       Date  Profit/Losses
0   10-Jan         867884
1   10-Feb         984655
2   10-Mar         322013
3   10-Apr         -69417
4   10-May         310503
5   10-Jun         522857
6   10-Jul        1033096
7   10-Aug         604885
8   10-Sep        -216386
9   10-Oct         477532
10  10-Nov         893810
11  10-Dec         -80353
12  11-Jan         779806
13  11-Feb        -335203
14  11-Mar         697845
15  11-Apr         793163
16  11-May         485070
17  11-Jun         584122
18  11-Jul          62729
19  11-Aug         668179
20  11-Sep         899906
21  11-Oct         834719
22  11-Nov         132003
23  11-Dec         309978
24  12-Jan        -755566
25  12-Feb        1170593
26  12-Mar         252788
27  12-Apr        1151518
28  12-May         817256
29  12-Jun         570757
..     ...            ...
56  14-Sep        1166643
57  14-Oct         947333
58  14-Nov         578668
59  14-Dec         988505
60  15-Jan        1139715
61  15-Feb        1029471
62  15-Mar         687533
63  15-Apr        -524626
64  15-May         158620
65  15-Jun          87795
66  15-Jul         423389
67  15-Aug         840723
68  15-Sep         568529
69  15-Oct         332067
70  15-Nov         989499
71  15-Dec         778237
72  16-Jan         650000
73  16-Feb       -1100387
74  16-Mar        -174946
75  16-Apr         757143
76  16-May         445709
77  16-Jun         712961
78  16-Jul       -1163797
79  16-Aug         569899
80  16-Sep         768450
81  16-Oct         102685
82  16-Nov         795914
83  16-Dec          60988
84  17-Jan         138230
85  17-Feb         671099

[86 rows x 2 columns]>

In [9]:
total_rows = budget.Date.count()
total_rows

86

In [10]:
# adding total budget
total_profit = budget["Profit/Losses"].sum()
total_profit

38382578

In [11]:
total_profit/total_rows

446309.0465116279

In [12]:
changes = []
for indx, row in budget.iterrows():
   print(indx,row['Date'], row['Profit/Losses'])
   if (indx < 85):
       change = budget['Profit/Losses'][indx+1] - row['Profit/Losses']
       #print(change)
       changes.append(change)

0 10-Jan 867884
1 10-Feb 984655
2 10-Mar 322013
3 10-Apr -69417
4 10-May 310503
5 10-Jun 522857
6 10-Jul 1033096
7 10-Aug 604885
8 10-Sep -216386
9 10-Oct 477532
10 10-Nov 893810
11 10-Dec -80353
12 11-Jan 779806
13 11-Feb -335203
14 11-Mar 697845
15 11-Apr 793163
16 11-May 485070
17 11-Jun 584122
18 11-Jul 62729
19 11-Aug 668179
20 11-Sep 899906
21 11-Oct 834719
22 11-Nov 132003
23 11-Dec 309978
24 12-Jan -755566
25 12-Feb 1170593
26 12-Mar 252788
27 12-Apr 1151518
28 12-May 817256
29 12-Jun 570757
30 12-Jul 506702
31 12-Aug -1022534
32 12-Sep 475062
33 12-Oct 779976
34 12-Nov 144175
35 12-Dec 542494
36 13-Jan 359333
37 13-Feb 321469
38 13-Mar 67780
39 13-Apr 471435
40 13-May 565603
41 13-Jun 872480
42 13-Jul 789480
43 13-Aug 999942
44 13-Sep -1196225
45 13-Oct 268997
46 13-Nov -687986
47 13-Dec 1150461
48 14-Jan 682458
49 14-Feb 617856
50 14-Mar 824098
51 14-Apr 581943
52 14-May 132864
53 14-Jun 448062
54 14-Jul 689161
55 14-Aug 800701
56 14-Sep 1166643
57 14-Oct 947333
58 14-Nov 578668
59 14-Dec 988505
60 15-Jan 1139715
61 15-Feb 1029471
62 15-Mar 687533
63 15-Apr -524626
64 15-May 158620
65 15-Jun 87795
66 15-Jul 423389
67 15-Aug 840723
68 15-Sep 568529
69 15-Oct 332067
70 15-Nov 989499
71 15-Dec 778237
72 16-Jan 650000
73 16-Feb -1100387
74 16-Mar -174946
75 16-Apr 757143
76 16-May 445709
77 16-Jun 712961
78 16-Jul -1163797
79 16-Aug 569899
80 16-Sep 768450
81 16-Oct 102685
82 16-Nov 795914
83 16-Dec 60988
84 17-Jan 138230
85 17-Feb 671099

In [13]:
avg_change = sum(changes)/85

In [14]:
max_value = max(changes)
min_value = min(changes)

In [15]:
print (max_value)

1926159

In [16]:
print (min_value)

-2196167

In [17]:
changes.index(max_value)

24

In [18]:
max_change = changes.index(max_value)

In [24]:
min_change = changes.index(min_value)

In [27]:
max_month = budget.iloc[max_change +1].Date
print (max_month)

12-Feb

In [28]:
min_month = budget.iloc[min_change +1].Date
print (min_month)

13-Sep

In [29]:
output = (
       f"\nFinancial Analysis\n"
   f"----------------------------\n"
   f"Total Months: {total_rows}\n"
   f"Total: ${total_profit}\n"
   f"Average Change: ${avg_change}\n"
   f"Greatest Increase in Profit: {max_month} (${max_value})\n"
   f"Greatest Decrease in Profit: {min_month} (${min_value})\n")

In [30]:
text_file = open("output.txt", "w")
text_file.write(output)
text_file.close()